@model leave_management.Models.AdminLeaveRequestViewModel

@{
    ViewData["Title"] = "Leave Request Logs";
}

<div class="row">
    <div class="col-md-3 text-center">
        <div class="info-box">
            <span class="info-box-icon bg-info"><i class="fa fa-info-circle"></i></span>

            <div class="info-box-content">
                <span class="info-box-text">@Model.TotalRequests</span>
                <span class="info-box-number">@Html.DisplayNameFor(model => model.TotalRequests)</span>
            </div>
            <!-- /.info-box-content -->
        </div>
    </div>
    <div class="col-md-3 text-center">
        <div class="info-box">
            <span class="info-box-icon bg-success"><i class="far fa-check-circle"></i></span>

            <div class="info-box-content">
                <span class="info-box-text">@Model.ApprovedRequests</span>
                <span class="info-box-number">@Html.DisplayNameFor(model => model.ApprovedRequests)</span>
            </div>
            <!-- /.info-box-content -->
        </div>
    </div>
    <div class="col-md-3 text-center">
        <div class="info-box">
            <span class="info-box-icon bg-danger"><i class="far fa-stop-circle"></i></span>

            <div class="info-box-content">
                <span class="info-box-text">@Model.RejectedRequests</span>
                <span class="info-box-number">@Html.DisplayNameFor(model => model.RejectedRequests)</span>
            </div>
            <!-- /.info-box-content -->
        </div>
    </div>
    <div class="col-md-3 text-center">
        <div class="info-box">
            <span class="info-box-icon bg-warning"><i class="fa fa-exclamation-circle"></i></span>

            <div class="info-box-content">
                <span class="info-box-text">@Model.PendingRequests</span>
                <span class="info-box-number">@Html.DisplayNameFor(model => model.PendingRequests)</span>
            </div>
            <!-- /.info-box-content -->
        </div>
    </div>
</div>

<hr />
<h2>Leave Request Logs</h2>


<table id="tblData" class="table">
    <thead>
        <tr>
            <th>
               Employee Name
            </th>
            <th>
               Start Date
            </th>
            <th>
               End Date
            </th>
            <th>
                Leave Type
            </th>
            <th>
                Date Requested
            </th>
            
            <th>
                Status
            </th>
            
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.LeaveRequests) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RequestingEmployee.FirstName) @Html.DisplayFor(modelItem => item.RequestingEmployee.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LeaveType.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateRequested)
            </td>
            <td>
                @if (item.Approved == true)
                {
                    <span class="badge badge-success">Approved</span>
                }
                else if (item.Approved == false)
                {
                    <span class="badge badge-danger">Rejected</span>
                }
                else
                {
                    <span class="badge badge-warning">Pending</span>
                }
            </td>
            <td>
                <a asp-action="Details" class="btn btn-outline-dark" asp-route-id="@item.Id">
                    <i class="fa fa-file-o" aria-hidden="true"></i> Review
                </a>
            </td>
        </tr>
}
    </tbody>
</table>
